<%- include('header', { titulo: 'Cursos' }) %>

    <div class="row">
        <div class="col">
            <div class="standard">
                <h2><strong>Cursos</strong></h2>

                <div class="curso-item">
                    <a href="/assets/pdfs/CERTIFICADO_-_2025-1.pdf" target="_blank">
                        <h4>Escola dos <nobr>Inovadores<img src="/assets/image/pdf_icon.png" alt="PDF" class="pdf-icon">
                            </nobr> – Inova CPS (Fatec)</h4>
                    </a>
                </div>

                <div class="curso-item">
                    <a href="/assets/pdfs/orientacao a objetos.pdf" target="_blank">
                        <h4>Orientação a Objetos com <nobr>Kotlin<img src="/assets/image/pdf_icon.png" alt="PDF"
                                    class="pdf-icon"></nobr> – DIO</h4>
                    </a>
                </div>

                <div class="curso-item">
                    <a href="/assets/pdfs/layouts.pdf" target="_blank">
                        <h4>Princípios de Interface de Usuário e Layouts <nobr>Android<img
                                    src="/assets/image/pdf_icon.png" alt="PDF" class="pdf-icon"></nobr> – DIO</h4>
                    </a>
                </div>

                <div class="curso-item">
                    <a href="/assets/pdfs/introdução software.pdf" target="_blank">
                        <h4>Desenvolvimento Moderno de <nobr>Software<img src="/assets/image/pdf_icon.png" alt="PDF"
                                    class="pdf-icon"></nobr> – DIO</h4>
                    </a>
                </div>

                <div class="curso-item">
                    <a href="/assets/pdfs/desafio de codigo.pdf" target="_blank">
                        <h4>Desafios de <nobr>Código<img src="/assets/image/pdf_icon.png" alt="PDF" class="pdf-icon">
                            </nobr> – DIO</h4>
                    </a>
                </div>

                <div class="curso-item">
                    <a href="/assets/pdfs/logica de programacao.pdf" target="_blank">
                        <h4>Lógica de Programação <nobr>Essencial<img src="/assets/image/pdf_icon.png" alt="PDF"
                                    class="pdf-icon"></nobr> – DIO</h4>
                    </a>
                </div>

                <div class="curso-item">
                    <a href="/assets/pdfs/git e github.pdf" target="_blank">
                        <h4>Versionamento de Código com Git e <nobr>GitHub<img src="/assets/image/pdf_icon.png"
                                    alt="PDF" class="pdf-icon"></nobr> – DIO</h4>
                    </a>
                </div>

                <div class="curso-item">
                    <a href="/assets/pdfs/modelagem de dados.pdf" target="_blank">
                        <h4>Estrutura de Dados e <nobr>Algoritmos<img src="/assets/image/pdf_icon.png" alt="PDF"
                                    class="pdf-icon"></nobr> – DIO</h4>
                    </a>
                </div>

                <div class="curso-item">
                    <a href="/assets/pdfs/equipes ageis.pdf" target="_blank">
                        <h4>Equipes <nobr>Ágeis<img src="/assets/image/pdf_icon.png" alt="PDF" class="pdf-icon"></nobr>
                            – DIO</h4>
                    </a>
                </div>

                <div class="curso-item">
                    <a href="/assets/pdfs/desenvolvimento software.pdf" target="_blank">
                        <h4>Princípios de Desenvolvimento de <nobr>Software<img src="/assets/image/pdf_icon.png"
                                    alt="PDF" class="pdf-icon"></nobr> – DIO</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <%- include('footer') %>