<%- include('header', { titulo: 'Disciplinas' }) %>

    <div class="row">
        <div class="col">
            <h2><strong>Minhas Disciplinas</strong></h2>

            <div style="display: flex; gap: 20px;">
                <div class="standard" style="flex: 1;">
                    <h3><strong>1º Semestre - 2025</strong></h3>
                    <ul style="margin-top: 15px; line-height: 2;">
                        <li>
                            <h4>Modelagem de Banco de Dados</h4>
                        </li>
                        <li>
                            <h4>Desenvolvimento Web I</h4>
                        </li>
                        <li>
                            <h4>Algoritmo e Lógica de Programação</h4>
                        </li>
                        <li>
                            <h4>Engenharia de Software I</h4>
                        </li>
                        <li>
                            <h4>Design Digital</h4>
                        </li>
                        <li>
                            <h4>Sistemas Operacionais e Redes de Computadores</h4>
                        </li>
                    </ul>
                </div>

                <div class="standard" style="flex: 1;">
                    <h3><strong>2º Semestre - 2025</strong></h3>
                    <ul style="margin-top: 15px; line-height: 2;">
                        <li>
                            <h4>Banco de Dados Relacional</h4>
                        </li>
                        <li>
                            <h4>Desenvolvimento Web II</h4>
                        </li>
                        <li>
                            <h4>Técnicas de Programação I</h4>
                        </li>
                        <li>
                            <h4>Engenharia de Software II</h4>
                        </li>
                        <li>
                            <h4>Estrutura de Dados</h4>
                        </li>
                        <li>
                            <h4>Matemática para Computação</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <%- include('footer') %>