<div class="contatoDois">
                <a href="https://github.com/heloisa-cardillo" target="_blank">
                    <img src="/image/github_icon.png" alt="GitHub">
                </a>
                <a href="https://www.linkedin.com/in/heloisa-cardillo-lima/" target="_blank">
                    <img src="/image/linkedin_icon.png" alt="LinkedIn">
                </a>
                <a href="mailto:heloisacardillo@gmail.com">
                    <img src="/image/gmail_icon.png" alt="Email">
                </a>
                <a href="/pdfs/Heloisa Cardillo CV.pdf" target="_blank">
                    <img src="/image/curriculo.png" alt="Currículo">
                </a>
            </div>
        </div>
    </div>

    <footer>
        <div class="trademark">
            <h3>Portifólio Heloisa Cardillo Lima &reg;</h3>
        </div>
    </footer>
</body>
</html>*