<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio - <%= nome %>
    </title>
    <link rel="stylesheet" href="/core/style.css">
</head>

<body>
    <div class="container">
        <header>
            <div class="header-container">
                <div class="profile-pic">
                    <img src="/assets/image/Screenshot_20250330-143545.png" alt="<%= nome %>">
                </div>
                <h1>
                    <%= nome %>
                </h1>
            </div>
        </header>

        <div class="standard" style="text-align: left; margin-top: 40px;">
            <h2><strong>Conheça meu Portfólio!</strong></h2>

            <div style="margin-top: 30px;">
                <a href="/sobre"
                    style="display: inline-block; margin: 10px; padding: 15px 30px; background: linear-gradient(to right, #c93384, #e44f9c); color: white; text-decoration: none; border-radius: 8px; font-weight: bold;">Sobre
                    Mim</a>
                <a href="/disciplinas"
                    style="display: inline-block; margin: 10px; padding: 15px 30px; background: linear-gradient(to right, #c93384, #e44f9c); color: white; text-decoration: none; border-radius: 8px; font-weight: bold;">Disciplinas</a>
                <a href="/projetos"
                    style="display: inline-block; margin: 10px; padding: 15px 30px; background: linear-gradient(to right, #c93384, #e44f9c); color: white; text-decoration: none; border-radius: 8px; font-weight: bold;">Projetos</a>
                <a href="/cursos"
                    style="display: inline-block; margin: 10px; padding: 15px 30px; background: linear-gradient(to right, #c93384, #e44f9c); color: white; text-decoration: none; border-radius: 8px; font-weight: bold;">Cursos</a>
                <a href="/contato"
                    style="display: inline-block; margin: 10px; padding: 15px 30px; background: linear-gradient(to right, #c93384, #e44f9c); color: white; text-decoration: none; border-radius: 8px; font-weight: bold;">Contato</a>
                <a href="/dashboard"
                    style="display: inline-block; margin: 10px; padding: 15px 30px; background: linear-gradient(to right, #c93384, #e44f9c); color: white; text-decoration: none; border-radius: 8px; font-weight: bold;">Dashboard</a>
            </div>
        </div>
    </div>
</body>

</html>